body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fce4ec;
}
.card {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.flower-image {
    width: 150px;
    border-radius: 10px;
}
.message {
    font-style: italic;
    color: #80C4E9;
}
